#SynoToolbarButton image {
	list-style-image: url("status.png");
	-moz-image-region: rect(32px, 16px, 48px, 0px);
}

#SynoToolbarButton[state="online"] image {
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

#SynoToolbarButton[state="offline"] image {
	-moz-image-region: rect(16px, 16px, 32px, 0px);
}
